{{ define "index" }}

    {{ template "header" }}

    <main role="main" class="px-3 h-100 inner cover">
    <div class="container">
        <h2 class="cover-heading">Главная страница</h2>
        <div class="row px-4 h-100" style="min-height: 300px">
            {{ range .Notes }}
                <div class="col-lg-4 align-self-center" style="min-height: 100px">
                    <div class="card" style="min-height: inherit">
                            <h6 class="card-title">{{ .Title }}</h6>
                            {{/* <p class="card-text">{{ .Content }}</p> */}}
                            <a href="/post/{{ .Id }}" class="btn btn-warning align-self-center sm">Read More</a>
                    </div>
                </div>
            {{ else }}
                <div class="col">
                    <p>No articles found.</p>
                </div>
            {{ end }}
        </div>
        <div>
            {{ if .HasPrevious }}
                <a href="/?offset={{ .PreviousOffset }}" class="btn btn-dark">Previous</a>
            {{ end }}
            {{ if .HasNext }}
                <a href="/?offset={{ .NextOffset }}" class="btn btn-dark">Next</a>
            {{ end }}
        </div>
    </div>
    </main>

    {{ template "footer" }}

{{ end }}
